<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/{{a.employee_id}}" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>employee id</td>
            <td><input type="text" name="employee_id" id="" value="{{a.employee_id}}"></td>
          </tr>
          <tr>
            <td>name</td>
            <td><input type="text" name="username" value="{{a.username}}"></td>
          </tr>
          <tr>
            <td>salary</td>
            <td><input type="text" name="salary" id="" value="{{a.salary}}"></td>
          </tr>
          <tr>
            <td>email no</td>
            <td><input type="text" name="email" id="" value="{{a.email}}"></td>
          </tr>
          <tr>
            <td></td><td><input type="submit" value="next"></td>
          </tr>
        </table>
        
      </form>
</body>
</html>